<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
  <style>
    .error {
      color: red;
      font-size: 14px;
      margin: 1em;;
      display: block;
    }
  </style>
</head>
<body>
<h1>Edit User <span th:text="${user.id}"></span></h1>

<form th:action="@{/users/edit/{id}(id=${user.id})}" method="post" th:object="${user}">

  <label>
    Name:
    <input type="text" th:field="*{firstName}" required>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span>
  </label>

  <br><br>

  <label>
    Last name:
    <input type="text" th:field="*{lastName}" required>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
  </label>

  <br><br>

  <label>
    Email:
    <input type="email" th:field="*{email}" required>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
  </label>

  <br><br>

  <button type="submit">Save</button>

  <br><br>

  <a th:href="@{/users}">Discard changes</a>
</form>

</body>
</html>